body {
    background-color: #ffffff; /* Viola scuro */
    color: #ff0000; /* Color pergamena */
    font-family: 'MedievalSharp', cursive; /* Font fantasy */
    text-align: center;
    margin: 0;
}
header { background: #0d1aac; padding: 20px; border-bottom: 3px solid #ff0000; }
a { color: #ff0000; text-decoration: none; font-size: 1.2rem; }
.card {
    border: 2px solid #ff0000;
    background: #ffffff;
    margin: 10px auto;
    padding: 15px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.price { font-size: 1.5rem; color: #ff0000; display: block; margin-top: 10px;}
input, button { padding: 10px; margin: 5px; border-radius: 5px; border: none; }
button { background-color: #ff0000; color: #0d1aac; font-weight: bold; cursor: pointer; }
button:hover { background-color: #fff; }
.admin-grid { display: flex; justify-content: center; gap: 20px; padding: 20px; }
.form-section, .list-section { background: #404ddc; padding: 20px; border-radius: 10px; width: 40%; }
.btn-delete { background: #c0392b; padding: 5px 10px; color: white; border-radius: 4px; font-size: 0.8rem;}