<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>FantaBurger 🍔</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>🍔 FantaBurger</h1>
        <nav>
            <a href="/"> Menu Taverna</a> | 
            <a href="/admin">👨‍🍳 Cucina </a>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Realizzato dal Gruppo Roba Casereccia</p>
    </footer>
</body>
</html>